<footer class="footer navbar navbar-fixed-bottom" style="background-color: #483D8B">


        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.4rem;font-size:10px;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
            voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
        </div>
        <!-- Grid column -->

      <!-- Grid row-->
      <!--<hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">-->

      <!-- Grid row-->
      <div class="row pb-3">

        <!-- Grid column -->
        <div class="col-md-12">

          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <span>
                <i class="fab fa-facebook-f"></i>
              </span>            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <span>
                <i class="fab fa-facebook-f"></i>
              </span>            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <span>
                <i class="fab fa-facebook-f"></i>
              </span>            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <span>
                <i class="fab fa-facebook-f"></i>
              </span>            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <span>
                <i class="fab fa-facebook-f"></i>
              </span>            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <span>
                <i class="fab fa-facebook-f"></i>
              </span>
            </a>

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
