<h1>Bienvenidos a mi pagina web</h1>
<br/>
<p>Aqui podras encontrar algunos tutoriales sobre programación web, usando frameworks frontend como angular y backends como spring 5.</p>
<div class="container-fluid">

    <div class="col-sm-4">
      <div class="card" style="width: 30rem;">
        <img src="..." class="card-img-top" alt="angular-logo">
        <div class="card-body">
          <h4 class="card-title">Angular : my-first-app</h4>
          <p class="card-text">En esta seccion veremos como crear nuestra primera aplicacion web mediante el framework de Angular.
              Contenidio: <br/>
              *Instalacion de Atom IDE.<br/>
              *Generar proyecto en Angular 7.<br/>
              *Rutas.<br/>
              *Componentes.<br/>
              *Vistas.<br/>
          </p>
          <a href="#" class="btn btn-primary">View tutorial</a>
        </div>
        <br/>
      </div>
    </div>


</div>
