<div class="container">

  <div class="col-xs-12 col-sm-12  col-md-8">
    <div class="card">

      <div class="card-body">
        <h1 class="card-title">
          <span style="font-size: 4em; color: #483D8B;">
            <i class="far fa-address-card"></i>
          </span><br/>
          Bienvenidos
        </h1>
        <h3 class="card-text" style="text-align: justify;">
          Hola me llamo Nestor Matias Costantini, soy profesor de Química y estudiante de TUP "Tecnicatura Superior en Programación" en la UTN "Universidad Tecnológica Nacional" Argentina-Chaco. Soy un entusiasta de la tecnología y la programación por lo que decidí crear esta web para poder acercar mis conocimientos aprendidos a los demás estudiantes.
          En esta web te mostrare como programar en java y a utilizar algunos frameworks como Angular 7 o Spring 5, por el momento.
          Realizaremos paginas webs, servicios ApiRestFull, autenticaciones con o sin web tokens.
          <br/>Seguiremos agregando mas contenido y modificando la web con mucho mas material producido para solo para ustedes.
        </h3>
      </div>
      <br/>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4">
    <span style="font-size: 15em; color: #483D8B;">
      <i class="fas fa-laptop-code"></i>
    </span>
    <p>
      <i>"Nunca dejes de aprender."</i>
    </p>
  </div>
</div>
